{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/login.css') }}">
{% endblock %}

{% block body %}
    <form method="post">
        <div class="login">
            <h1>Login</h1>
            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form method="post">
                <label>
                    <input type="text" name="_username" placeholder="Username" required="required" />
                </label>
                <label>
                    <input type="password" name="_password" placeholder="Password" required="required" />
                </label>
                <a href="{{ path('app_register') }}">Sign in !</a>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
            </form>
        </div>
{% endblock %}